<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OfpLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <OfpLauncher.Properties.Settings>
            <setting name="Mods" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>BOI 4.8|@boi4.8</string>
                        <string>Yugo|@xrofp</string>
                        <string>BW|@80+Islands1.3;@res-z;@BW@DVD1.79</string>
                        <string>TZK 4.0.3|@TZK_4.0.0;@TZK_4.0.3;@TZK_Islands;@80+Islands1.3</string>
                        <string>TZK 4.0.6|@TZK_4.0.0;@TZK_4.0.3;@TZK_4.0.4;@TZK_4.0.5;@TZK_4.0.6;@TZK_Islands;@TZK_Islands_v2;@80+Islands1.3</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="BaseParameters" serializeAs="String">
                <value />
            </setting>
        </OfpLauncher.Properties.Settings>
    </userSettings>
</configuration>